
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - apps/v1
  resources:
  - deployments
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubeapiservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubeapiservers/finalizers
  verbs:
  - update
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubeapiservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubeconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubeconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubeconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubecontrollermanagers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubecontrollermanagers/finalizers
  verbs:
  - update
- apiGroups:
  - matryoshka.onmetal.de
  resources:
  - kubecontrollermanagers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v1
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - v1
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
