apiVersion: v1
kind: Service
metadata:
  name: apiserver-sample
spec:
  type: ClusterIP
  ports:
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
  selector:
    matryoshka.onmetal.de/app: apiserver-apiserver-sample
---
apiVersion: v1
kind: Secret
metadata:
  name: kcm-token
stringData:
  token: some-token
---
apiVersion: matryoshka.onmetal.de/v1alpha1
kind: Kubeconfig
metadata:
  name: kcm-kubeconfig
spec:
  clusters:
    - cluster:
        server: https://apiserver-sample
        insecureSkipTLSVerify: true
      name: current
  contexts:
    - context:
        cluster: current
        user: admin
      name: current
  currentContext: current
  secretName: kcm-kubeconfig
  users:
    - name: admin
      user:
        token:
          secret:
            name: kcm-token
---
apiVersion: matryoshka.onmetal.de/v1alpha1
kind: KubeControllerManager
metadata:
  name: kubecontrollermanager-sample
spec:
  replicas: 1
  version: 1.22.1
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
    limits:
      cpu: 1200m
      memory: 2000Mi
  cluster:
    name: my-cluster
  kubernetesAPI:
    kubeconfig:
      secret:
        name: kcm-kubeconfig
    authenticationKubeconfig:
      secret:
        name: kcm-kubeconfig
    authorizationKubeconfig:
      secret:
        name: kcm-kubeconfig
  controllers:
    credentials: ServiceAccount
    list:
    - "*"
    - "bootstrapsigner"
    - "tokencleaner"
  serviceAccount:
    privateKey:
      secret:
        name: apiserver-cert-and-key
